<!DOCTYPE html>

<title>Enter voucher form</title>

<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
<link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">

<div class="container-fluid">
    <form method="POST" action="verify_voucher">
        <div class="form-group">
            <!--label for="voucher_code">Voucher code</label-->
            <input type="text" class="form-control" id="voucher_code" name="voucher_code"
                   aria-describedby="voucher_help" placeholder="Voucher code">
            <small id="voucher_help" class="form-text text-muted">
                Enter your voucher code
            </small>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>