{% extends "base.html" %}

{% block title %}New voucher form{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto">

            <div class="card">

                <img class="card-img-top" src="{{ url_for('static', filename='carbon.png') }}" alt="Carbon image">

                <div class="card-block">
                    <h4 class="card-title">Buy voucher</h4>
                    <p class="card-text">Select which type of voucher you prefer.</p>
                </div>

                <form method="POST" action="make_payment">

                    <input type="hidden" name="target" value="{{ target }}"/>

                    <fieldset class="form-group">
                        <ul class="list-group list-group-flush">

                            {% for type in exp_types %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio"
                                                   class="form-check-input"
                                                   name="voucher_type"
                                                   id="voucher_type{{ type }}"
                                                   value="{{ type }}">
                                            {{ voucher_types[type].description }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}

                            {% for type in nov_types %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio"
                                                   class="form-check-input"
                                                   name="voucher_type"
                                                   id="voucher_type{{ type }}"
                                                   value="{{ type }}">
                                            {{ voucher_types[type].description }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </fieldset>

                    <div class="card-block">
                        <button type="submit"
                                class="btn btn-outline-primary">
                            Submit
                        </button>
                    </div>

                </form>

                <div class="card-footer text-muted">
                    <small>https://github.com/wyldebeast-wunderliebe/w20e.paywall</small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}