{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block title %}Test voucher{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto">

            <div class="card">

                <img class="card-img-top" src="{{ url_for('static', filename='carbon.png') }}" alt="Carbon image">

                <div class="card-block">
                    <h4 class="card-title">Test voucher</h4>
                    <p class="card-text">Give a user the opportunity to enter their voucher code or redirect instantly when the current voucher is valid.</p>
                </div>

                <div class="card-block">
                    <a href="{{ url_for('enter_voucher', target='https://wyldebeast-wunderliebe.com') }}">https://wyldebeast-wunderliebe.com</a>
                </div>

                {{ macros.card_footer() }}

            </div>
        </div>
    </div>

{%  endblock %}