{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block title %}Enter voucher form{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto">

            <div class="card">

                <img class="card-img-top" src="{{ url_for('static', filename='carbon.png') }}" alt="Carbon image">

                <div class="card-block">
                    <h4 class="card-title">Verify voucher</h4>
                    <p class="card-text">Check voucher validity</p>
                </div>

                <form method="POST" action="verify_voucher">

                    {{ macros.csrf() }}

                    <input type="hidden" name="target" value="{{ target }}"/>

                    <div class="form-group">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="text" class="form-control" id="voucher_code"
                                       name="voucher_code"
                                       aria-describedby="voucher_help"
                                       placeholder="Voucher code">
                                <small id="voucher_help" class="form-text text-muted">
                                    Enter your voucher code
                                </small>
                            </li>
                        </ul>
                    </div>

                    <div class="card-block">
                        <button type="submit"
                                class="btn btn-outline-primary">
                            Submit
                        </button>
                        <a href="{{ url_for('new_voucher') }}"
                           class="btn btn-primary"
                           role="button">New voucher</a>
                    </div>
                </form>

                {{ macros.card_footer() }}

            </div>
        </div>
    </div>

{%  endblock %}